{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block title_color %}{{ title_color|default:'white' }}{% endblock %}
{% block title_text_color %}{{ title_text_color|default:'rgb(101, 71, 150)' }}{% endblock %}
{% block body_color %}{{ body_color|default:'white' }}{% endblock %}
{% block body_text_color %}{{ body_text_color|default:'black' }}{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %} <!-- Main Start Block -->

<div style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px">
    <!-- Main Div -->
    {% for result in results %}
        {% if result.data.existing %}
            <h3><span class="glyphicon glyphicon-exclamation-sign text-info"></span> Adversary Already Exists</h3>
        {% else %}
            <h3><span class="glyphicon glyphicon-ok-circle text-success"></span> Succesfully Created Adversary</h3>
        {% endif %}
            <h4><a href="{{ result.data.url }}">{{ result.data.aid }}: {{ result.data.name }}</a></h4>
    {% endfor %}
</div>
<!-- Main Div -->

{% endblock %}
<!-- Main Start Block -->
