{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block title_color %}{{ title_color|default:'white' }}{% endblock %}
{% block title_text_color %}{{ title_text_color|default:'rgb(101, 71, 150)' }}{% endblock %}
{% block body_color %}{{ body_color|default:'white' }}{% endblock %}
{% block body_text_color %}{{ body_text_color|default:'black' }}{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %} <!-- Main Start Block -->

<div style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px">
    <!-- Main Div -->
        <h3 class="nm-h3-style">Related Indicators</h3>
        {% if result.data %}
            <table class="table">
                <thead>
                    <th>Indicator</th>
                    <th>Type</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for r in result.data %}
                        <tr>
                            <td><a href="{{ r.url }}">{{ r.value }}</a> <span onclick="context_menu(this, [{'contains': {{ result.param_contains }}, 'value': '{{ r.value }}' }], 0, {{ container.id }}, null, false);" class="fa fa-caret-down"></span></td>
                            <td>{{ r.type }}</td>
                            <td><span class="label label-default">{{ r.status }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
</div>
<!-- Main Div -->

{% endblock %}
<!-- Main Start Block -->
